html{
  background-color: gray
}

  img{
   width:80%;
   padding:80px;
   height:500px;


    }
div{
  text-align:center;
  font-family:Verdana;

}

h1{
    text-align:center;
    color:pink

}
h2{
   color:pink;
   text-align:center;
}

h3{
     color:white;
  }

ul{font-size:12px;
   font-family:Verdana;}

